<% current_user.games.reverse_each do |game| %>
<tr link_to="game">
  <td align="center" style='padding: 0px 5px 0px 5px'><%= link_to game.id, game %></td>
  <td style='padding: 0px 5px 0px 5px'><%= link_to "#{if game.player1 == current_user then game.player2.try(:username) else game.player1.try(:username) end}", game %></td>
  <td style='padding: 0px 5px 0px 5px'><%= link_to game.created_at.strftime('%-d %b %Y'), game %></td>
  <td align="center" style='padding: 0px 5px 0px 5px'><%= link_to game.result, game %></td>
</tr>
<% end %>