<center>
  <h1>Users on Gamification</h1>
  <br>
  <table>
    <tr>
      <th class="gamelist">Rank</th>
      <th class="gamelist">Username</th>
      <th class="gamelist">W/D/L</th>
    </tr>
    <%= render @users %>
  </table>
</center>