<center>
  <h1>Gamification Highscores</h1>
  <br>
  <table>
    <tr>
      <th class="gamelist" style="font-size:20px; width:150px">Username</th>
      <th class="gamelist" style="font-size:20px; width:50px">Points</th>
      <th class="gamelist" style="font-size:20px; width:150px">W/L Ratio</th>
      <th class="gamelist" style="font-size:20px; width:100px">W/D/L</th>
    </tr>
    <%= render @users %>
  </table>
</center>