<center>
  <h1>Tic Tac Toe List</h1>

<p>See the games in progress or completed here (in descending order)!</p>

<table class="showdividers">
  <tr>
    <th class="gamelist">Game ID</th>
    <th class="gamelist v">Who is Player 1</th>
    <th class="gamelist v">Who is Player 2</th>
    <th class="gamelist">Match Made On</th>
  </tr>
    <%= render @games %>
</table>
</center>
