<center>
  <h1>Tic Tac Toe List</h1>

  <p style="font-size:13px">See the games in progress or completed here (in descending order)!</p>

  <table class="showdividers">
    <tr>
      <th class="gamelist" style="font-size: 20px; width:130px">Games</th>
      <th class="gamelist v" style="font-size: 20px; width:130px">Player 1</th>
      <th class="gamelist v" style="font-size: 20px; width:130px">Player 2</th>
      <th class="gamelist v" style="font-size: 20px; width:130px">Created</th>
      <th class="gamelist" style="font-size:20px;width:130px">Status</th>
    </tr>
    <%= render @games %>
    <tr>
      <th class="gamelist" style="font-size: 20px; width:130px">Games</th>
      <th class="gamelist v" style="font-size: 20px; width:130px">Player 1</th>
      <th class="gamelist v" style="font-size: 20px; width:130px">Player 2</th>
      <th class="gamelist v" style="font-size: 20px; width:130px">Created</th>
      <th class="gamelist" style="font-size:20px;width:130px">Status</th>
    </tr>
  </table>
</center>
