body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  color: #FF9900;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.wrap {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline;
}

.nava {
  text-decoration: none;
  font-size: 12px;
  padding: 5px;
  border: 2px solid #FF9900;
  border-radius: 4px;
  background: none;
  color: #FF9900;
  font-family: Audiowide;
}

.menubuttons {
display: table;
  }  

.menubuttons a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: none;
  background: none;
  font-size: 15px;
  height: 125px;
  width: 125px;
  transition: all 1s;
  text-decoration: none;
}

.menubuttons:hover {
  animation: neon5 2s ease-in-out infinite alternate;
}

.menubuttons:hover {
  color: #ffffff;
}

.menulinks {
  background: none;
  border: none;
  text-decoration: none;
}

.square{
    width:125px;
    height:125px;
    font-size: 75px;
}

.v{
    border-left:1px solid #FF9900;
    border-right:1px solid #FF9900;
}

.h{
    border-top:1px solid #FF9900;
    border-bottom:1px solid #FF9900;
}

.m{
  font-size: 17px;
}

table {
  border-collapse: collapse; 
}

.TTTButton {
  width: 125px;
  height: 125px;
  font-size: 75px;
  display: block;
  color: #FF9900;
  font-family: Audiowide;
  background: none;
  border: none;
  transition: all 1s;
}

input {
  background-color: rgba(0,0,0,0.1);
  color: #FF9900;
  font-family: Audiowide;
  border: 2px solid #FF9900;
}

.TTTButton:hover {
  animation: neon5 2s ease-in-out infinite alternate;
}

.mfleft {
  padding-left: 250px;
  width: 150px;
  float: left;
}

.mfright {
  width: 300px;
  padding-left: 10px;
}

.gamelist {
  padding: 5px;
}

a {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

p {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

h1 {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

h2 {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

table {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

td {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

tr {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

th {
  color: #FF9900;
  font-family: Audiowide;
  transition: all 1s;
}

a:hover {
  -webkit-animation: neon5 1s ease-in-out infinite alternate;
  -moz-animation: neon5 1s ease-in-out infinite alternate;
  animation: neon5 1s ease-in-out infinite alternate;
}

a:hover {
  color: #ffffff;
}

.nava:hover {
  -webkit-animation: neon5 1s ease-in-out infinite alternate;
  -moz-animation: neon5 1s ease-in-out infinite alternate;
  animation: neon5 1s ease-in-out infinite alternate;
}

.nava:hover {
  color: #ffffff;
}

.TTTButton:hover {
  color: #ffffff;
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

























/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
